@import 'variables';
@import 'mixins';
@import 'reset';
@import 'index';

body {
    color: $body_color_text;
    background-color: $body_color_bg;
    font: 10px $body_font_stack;
}

a {
    text-decoration: none;
}

main {
    background-color: $content_color_bg;
}

#topbar {
    padding: 20px 0 20px;
    background: $body_color_accent;

    .link-root img {
        width: 75px;
        height: 75px;
    }
}

#bottombar {
    @include pagewrap;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $footer_color_text;
    font-size: 1.4em;
    text-align: center;

    a {
        color: $body_color_accent;
    }
}

.pagewrap {
    @include pagewrap;
}
