#metadata {
    position: absolute;
    top: 0;
    right: 0;  //overridden by JS
    background: $body_color_accent;
    box-shadow: #000 0 0 10px;

    .pull-tab {
        position: absolute;
        top: 50px;
        left: -60px;
        width: 60px;
        height: 50px;
        background: $body_color_accent url('../images/metadata-details.png') no-repeat 10px 10px;
        border-radius: 10px 0 0 10px;
        box-shadow: #000 0 3px 10px;
        cursor: pointer;
    }

    .scroll-wrap {
        position: relative;
        overflow-y: scroll;
        box-sizing: border-box;
        height: 0;  //overridden by JS
        padding: 10px;
        width: $content_width / 3;
        background: $body_color_accent;
    }

    .category {
        margin-bottom: 30px;
        font-size: 1.1em;

        h1 {
            margin-bottom: 10px;
            font-size: 1.8em;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: lighten($body_color_accent, 25%) 0 1px 0;
            letter-spacing: 0.15em;
        }

        dt {
            color: #fff;
            font-weight: bold;
        }

        dd {
            margin: 0 0 5px 20px;
        }
    }
}
