#single-post {
    @include pagewrap;
    padding: 15px 0;

    article {
        header {
            h1 {
                padding-bottom: 5px;
                font: bold 2.8em $body_font_stack;
            }

            ul {
                overflow: hidden;

                li {
                    list-style: none;
                    padding-bottom: 5px;
                    font: 1.2em/1.2em $body_font_stack;

                    &.date-line {
                        float: left;
                    }

                    &.geo-line {
                        float: right;
                        text-align: right;
                    }
                }
            }
        }

        #attachment {
            position: relative;
            overflow: hidden;
            clear: both;
            background: #111 url('../images/attachment-bg.png') repeat;

            img {
                display: block;
                margin: 0 auto;
            }

            a.arrow {
                display: block;
                overflow: hidden;
                position: absolute;
                top: 0;  //overridden by JS
                height: 60px;
                width: 50px;
                background: transparent url('../images/attachment-arrow-sprites.png') no-repeat;
                text-indent: -1000px;

                &.previous {
                    left: 20px;  //overridden by JS
                    background-position: 0px 0px;
                }

                &.next {
                    right: 20px;  //overridden by JS
                    background-position: -45px 0px;
                }
            }
        }
    }
}
