#single-post {
    @include pagewrap;
    padding: 15px 0;

    article {
        header {
            h1 {
                float: left;
                width: 100% * (2 / 3);
                padding-bottom: 10px;
                font: bold 2.4em $body_font_stack;
            }

            ul {
                float: right;
                width: 100% * (1 / 3);

                li {
                    list-style: none;
                    font: 1.2em/1.2em $body_font_stack;
                    text-align: right;
                }
            }
        }

        #attachment {
            position: relative;
            overflow: hidden;
            clear: both;
            background: #111;

            img {
                display: block;
                margin: 0 auto;
            }

            a.arrow {
                display: block;
                overflow: hidden;
                position: absolute;
                top: 50%;
                height: 60px;
                width: 50px;
                background: transparent url('../images/arrow-sprites.png') no-repeat;
                text-indent: -1000px;

                &.previous {
                    left: 20px;
                    background-position: 0px 0px;
                }

                &.next {
                    right: 20px;
                    background-position: -45px 0px;
                }
            }
        }
    }
}
