<section id="index-posts">
    <h1>Recent Posts</h1>

    {% for post in items %}
        {% set derivative = post.get_attachment().get_derivative(300, 300) %}
        <article>
            <a href="{{ url_for('get_post', post_id=post.id) }}">
                <img src="{{ derivative.url }}" alt="{{ post.message }}">
                <h2>{{ post.message }}</h2>
            </a>
        </article>
    {% endfor %}

    {% if has_next %}
        <a href="{{ url_for('get_index', until=last_id) }}" class="next-page">Next Page</a>
    {% endif %}
</section>
