<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page_title %}{{ page_title }} &bull; {% endif %}Windowbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-dist.css') }}" type="text/css">
    <link rel="alternate" href="{{ url_for('get_rss2') }}" type="application/rss+xml" title="Windowbox RSS Feed">
    <link rel="alternate" href="{{ url_for('get_atom') }}" type="application/atom+xml" title="Windowbox Atom Feed">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/main-dist.js') }}"></script>
</head>

<!-- "Everyone you will ever meet knows something you don't." -->

<body>
    <nav id="topbar">
        <div class="pagewrap">
            <a href="{{ url_for('get_index') }}" class="link-root">
                <img src="{{ url_for('static', filename='images/windowbox-light.png') }}" alt="Windowbox">
            </a>
        </div>
    </nav>
    <main>
{{ page_body|safe }}
    </main>
    <footer id="bottombar">
        A contrivance by <a href="http://www.scottsmitelli.com/">Scott Smitelli</a>. &copy; 2004-{{ copyright_year }}.
    </footer>
</body>
</html>
