<section id="single-post">
    <article>
        <header>
            <h1>{{ item.message }}</h1>

            <ul>
                <li class="date-line">
                    sent on
                    <time datetime="{{ item.get_created_date('%Y-%m-%dT%H:%M:%S%z') }}">
                        <strong>{{ item.get_created_date('%B %-d, %Y at %-I:%M %p') }}</strong>
                    </time>
                </li>
                {% if attachment.geo_address %}
                    <li class="geo-line">from <strong>{{ attachment.geo_address }}</strong></li>
                {% endif %}
            </ul>
        </header>

        <div id="attachment">
            <img src="{{ attachment.get_derivative_url(width=960, height=720, allow_crop=False) }}">

            {% if prev_item %}
                <a href="{{ url_for('get_post', post_id=prev_item.id) }}" class="arrow previous">Previous Post</a>
            {% endif %}
            {% if next_item %}
                <a href="{{ url_for('get_post', post_id=next_item.id) }}" class="arrow next">Next Post</a>
            {% endif %}

            {{ metadata }}
        </div>
    </article>
</section>
