<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page_title %}{{ page_title }} &bull; {% endif %}Windowbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-dist.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="alternate" href="{{ url_for('get_rss2') }}" type="application/rss+xml" title="Windowbox RSS Feed">
    <link rel="alternate" href="{{ url_for('get_atom') }}" type="application/atom+xml" title="Windowbox Atom Feed">
    {% if head_extra %}{{ head_extra }}{% endif %}
</head>

<!-- "Everyone you will ever meet knows something you don't." -->

<body>
    <nav id="topbar">
        <div class="pagewrap">
            <a href="{{ url_for('get_index') }}" class="link-root">
                <img src="{{ url_for('static', filename='images/windowbox-light100.png') }}" alt="Windowbox">
            </a>
        </div>
    </nav>
    <main>
{{ page_body }}
    </main>
    <footer id="bottombar">
        <p>A contrivance by <a href="https://www.scottsmitelli.com/">Scott Smitelli</a>. &copy; 2004-{{ g.copyright_year }}.</p>
        <p><a href="https://github.com/smitelli/windowbox">Point and laugh at me on GitHub.</a></p>
    </footer>
    <script src="{{ url_for('static', filename='js/main-dist.js') }}"></script>
    {% if config['GA_TRACKING_CODE'] %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ config['GA_TRACKING_CODE'] }}'], ['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</body>
</html>
